@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/motion" as *;

$nav-height: 50px;
$header-height: 300px;

.header {
  position: relative;
  z-index: 9999;
  margin-bottom: $nav-height;
  background: black;
  height: $header-height;
  padding-top: 200px;

  @include breakpoint("md") {
    padding-top: 120px;
  }
}

.grid {
  height: 100%;
}

.column {
  position: relative;
  height: 100%;
}

.header h1 {
  @include type-style("fluid-heading-06", true);
  color: white;
  margin: -$spacing-05 0;
}

.subtitle {
  @include type-style("fluid-heading-05", true);
  color: var(--color-30);
  margin-bottom: $spacing-01;
}

// navigation
.navigation__container {
  background: black;
  height: $nav-height;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation__container :global(.cds--header) {
  position: relative;
  background: transparent;
  height: $nav-height;
  border: none;
}

.navigation {
  height: $nav-height;
}

.navigation :global(.cds--header__nav) {
  padding: 0;
  display: block;
}

.navigation :global(.cds--header__nav::before) {
  display: none;
}

.navigation :global(.cds--header__menu-bar) {
  width: 100%;
  justify-content: flex-end;
}

.navigation :global(a.cds--header__menu-item) {
  @include type-style("heading-01");
  padding: 0 $spacing-05;
  background: transparent;
  color: var(--color-10);
  font-weight: 300 !important;

  @include breakpoint("md") {
    @include type-style("heading-03");
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 55%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 50%;
    height: 8px;
    background-color: var(--color-80);
    transition: transform $duration-fast-02;
    z-index: -1;

    @include breakpoint("md") {
      height: 12px;
      bottom: 8px;
      width: 60%;
    }
  }

  &:hover {
    color: white;
    text-decoration: none;

    &:before {
      transform: translateX(-50%) scaleX(1);
    }
  }
}

// Navigation content container
.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

// Name in navigation bar
.navName {
  @include type-style("heading-02");

  color: white;
  opacity: 0;
  transform: translateY(-10px);
  transition: all $duration-fast-02;
  pointer-events: none;
  font-weight: bold !important;
  white-space: nowrap;

  @include breakpoint("md") {
    @include type-style("heading-03");
  }

  span {
    color: var(--color-20);
    display: none;
    font-weight: 300 !important;

    @include breakpoint("lg") {
      display: inline;
      padding-left: $spacing-02;
    }
  }
}

.navNameVisible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
