@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;

.container {
  @include breakpoint-down("md") {
    margin-top: -$spacing-02;
  }
}

.div :global(.cds--overflow-menu-options) {
  border: 2px solid red;
}

.container svg {
  fill: var(--color-10) !important;

  &:hover {
    fill: white !important;
  }
}

.container :global(.cds--overflow-menu--open) svg {
  fill: var(--color-90) !important;
}

.active {
  background: $background-selected;
}

.dot {
  display: block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding-left: 16px;
  position: relative;

  &:before {
    position: absolute;
    left: -4px;
    margin-top: $spacing-02;
    content: "";
    display: block;
    background: red;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    border: 1px transparent;

    .active & {
      border: 1px solid black;
    }
  }
}

.teal:before {
  background-color: $teal-50;

  &:hover {
    background-color: $teal-60;
  }
}

.purple:before {
  background-color: $purple-50;
  &:hover {
    background-color: $purple-60;
  }
}

.magenta:before {
  background-color: $magenta-50;
  &:hover {
    background-color: $magenta-60;
  }
}

.cyan:before {
  background-color: $cyan-50;
  &:hover {
    background-color: $cyan-60;
  }
}
