@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;

.container {
  margin-top: $spacing-02;
  display: flex;

  @include breakpoint("lg") {
    position: absolute;
    right: 0;
  }
}

.button {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  width: 44px;
  height: 44px;
  margin-left: -12px;

  &:after {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: calc(22px - 0.75rem);
    border-radius: 9999px;
    background: white;

    &:focus {
      border: 1px solid white;
    }
  }
}

.active:after {
  border: 1px solid white;
}

.teal:after {
  background-color: $teal-50;

  &:hover {
    background-color: $teal-60;
  }
}

.purple:after {
  background-color: $purple-50;
  &:hover {
    background-color: $purple-60;
  }
}

.magenta:after {
  background-color: $magenta-50;
  &:hover {
    background-color: $magenta-60;
  }
}

.cyan:after {
  background-color: $cyan-50;
  &:hover {
    background-color: $cyan-60;
  }
}
