@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/breakpoint" as *;

.item {
  padding: $spacing-06 0;
  position: relative;

  &:nth-child(even)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background: $teal-10;
    transform: translateX(-50%);
    z-index: -1;
  }

  &:nth-child(even)::after {
    background: mix($teal-20, $teal-10, 22%);
  }
}

.imageContainer {
  @include breakpoint-down("md") {
    display: flex;
  }
}

.item img {
  box-shadow: $spacing-03 $spacing-03 0 0 $teal-20;
  margin-bottom: $spacing-02;
}

.links {
  margin: $spacing-03 0 0 $spacing-06;

  @include breakpoint("md") {
    display: flex;
    align-items: center;
    margin: $spacing-04 0 0 0;

    .expanded & {
      margin-bottom: $spacing-09;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  padding-right: $spacing-05;

  @include breakpoint-down("md") {
    margin-bottom: $spacing-03;
  }

  a {
    margin-left: $spacing-02;
  }
}

.section {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all $duration-fast-02;

  .expanded & {
    height: auto;
    opacity: 100%;
    margin: 0 0 $spacing-09 0;
  }
}

.summary {
  @include breakpoint("lg") {
    padding-right: 25%;
  }
}

.toggle {
  // position: relative;
  // top: -48px;
  margin-top: $spacing-06;

  @include breakpoint("md") {
    margin: 0;
  }
}
