@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/breakpoint" as *;

.item {
  padding: $spacing-06 0;
  position: relative;

  &:nth-child(even)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    background: $teal-10;
    transform: translateX(-50%);
    z-index: -1;
  }

  &:nth-child(even)::after {
    background: mix($teal-20, $teal-10, 22%);
  }
}

.titleContainer {
  @include breakpoint-down("md") {
    order: 2;
  }
}

.imageContainer {
  @include breakpoint-down("md") {
    order: 1;
  }
}

.item img {
  box-shadow: $spacing-03 $spacing-03 0 0 $teal-20;
  margin-bottom: $spacing-02;

  width: 100%;
  height: auto;
  max-width: 100%;

  @include breakpoint("md") {
    width: 100%;
  }
}

.links {
  display: flex;
  align-items: center;
  margin: $spacing-04 0 0 0;
  padding: 0;
  justify-content: flex-start;

  .expanded & {
    margin-bottom: $spacing-09;
  }
}

.link {
  display: flex;
  align-items: center;
  padding-right: $spacing-05;

  @include breakpoint-down("md") {
    margin-bottom: $spacing-03;
  }

  a {
    margin-left: $spacing-02;
  }
}

.section {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all $duration-fast-02;

  .expanded & {
    height: auto;
    opacity: 100%;
    margin: 0 0 $spacing-09 0;

    @include breakpoint-down("md") {
      margin-bottom: 0;
    }
  }
}

.intro {
  @include breakpoint("lg") {
    padding-right: 25%;
  }
}

.toggle {
  margin-top: $spacing-06;

  @include breakpoint("md") {
    margin: 0;
  }
}
