@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.button {
  width: $spacing-09;
  height: $spacing-09;
  border-color: transparent;
  background: color-mix(in srgb, var(--color-20) 50%, var(--color-30));
  transition: all $duration-fast-02;
  z-index: 9900;
  padding-top: 0.325rem;
  cursor: pointer;
  position: fixed;
  bottom: $spacing-06;
  right: $spacing-05;
  box-shadow: $spacing-02 $spacing-02 0 0 var(--color-50);

  @include breakpoint("md") {
    bottom: $spacing-09;
    right: $spacing-07;
  }

  &:hover {
    background: var(--color-30);
    box-shadow: $spacing-02 $spacing-02 0 0 var(--color-70);
  }

  svg {
    fill: $icon-secondary;
  }
}
