@use "@carbon/react/scss/themes" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;
@use "_themes.scss" as themes;

// This overrides existing Carbon tokens and adds your custom tokens.
// This is a great practice, but to make it dynamic, we'll use CSS variables.
// The hardcoded values here will be replaced.
@use "@carbon/react/scss/theme" with (
  $theme: (
    // redefine existing tokens to new values
    focus: var(--color-60),
    interactive: var(--color-60),
    icon-interactive: var(--color-60),
    link-primary: var(--color-60),
    link-primary-hover: var(--color-70),
    link-secondary: var(--color-70),
    link-inverse: var(--color-40),
    link-inverse-hover: var(--color-30),
    highlight: var(--color-20),
    background-brand: var(--color-20),
  )
);

@use "@carbon/react/scss/components/button/tokens" as button-tokens with (
  $button-primary: var(--color-60),
  $button-primary-hover: var(--color-70),
  $button-primary-active: var(--color-80),
  $button-tertiary: var(--color-60),
  $button-tertiary-hover: var(--color-70),
  $button-tertiary-active: var(--color-80)
);

@use "@carbon/react";
@use "@carbon/react/scss/theme" as *;

:root {
  @include theme.theme();
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: $spacing-08;

  @include breakpoint("md") {
    scroll-padding-top: $spacing-08;
  }
}

body {
  // Use Carbon's theme tokens for base styles
  background: $background;
  color: $text-primary;
  overflow-x: hidden;

  // Apply your theme-specific custom properties
  // The default theme (teal) is applied directly to the body
  @include themes.themify(themes.$theme-teal);

  // Use a class for each alternative theme
  &.theme-purple {
    @include themes.themify(themes.$theme-purple);
  }

  &.theme-magenta {
    @include themes.themify(themes.$theme-magenta);
  }

  &.theme-cyan {
    @include themes.themify(themes.$theme-cyan);
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  // Use the CSS variable instead of a hardcoded Carbon token
  color: var(--color-60);
  font-weight: 300;
  margin: $spacing-04 0;
}

h3 {
  @include type-style("fluid-heading-04", true);
  font-weight: 300 !important;
  margin-bottom: $spacing-03;
  position: relative;
}

h4 {
  @include type-style("fluid-heading-03", true);
  font-weight: 300 !important;
  padding: $spacing-04 0;

  @include breakpoint("md") {
    padding: 0;
  }
}

p,
ul,
.cds--list--unordered,
.cds--list--ordered {
  @include type-style("body-02");
  margin-bottom: $spacing-06;
  padding-right: $spacing-07;
}

li,
.cds--list--item {
  @include type-style("body-02");
}

p em {
  font-style: normal;
  font-weight: bold;
  color: var(--color-60);
}

.cds--css-grid {
  @include breakpoint("md") {
    inline-size: 85%;
  }

  @include breakpoint("lg") {
    inline-size: 75%;
  }
}

section {
  padding: $spacing-05 0;

  @include breakpoint("md") {
    padding: $spacing-10 0;
  }
}

.cds--btn {
  // Use CSS variables for the box-shadow colors
  box-shadow: $spacing-02 $spacing-02 0 0 var(--color-20);

  &:hover {
    box-shadow: $spacing-02 $spacing-02 0 0 var(--color-30);
  }
}

.cds--overflow-menu {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}
