@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;

.grid {
  position: relative;

  &:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $teal-10;
    z-index: -1;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.grid h2 {
  color: $text-primary;
}

.grid img {
  width: 50%;
  height: auto;
  max-width: 100%;

  @include breakpoint("md") {
    width: 100%;
  }
}

.introLink {
  display: flex;
  align-items: center;

  a {
    margin-left: $spacing-02;
  }
}
