@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/colors" as *;

.grid {
  position: relative;

  &:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $teal-10;
    z-index: -1;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.grid h2 {
  color: $text-primary;
}

.grid img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

// .items {
//   display: flex;
// }
